## üõ≥Ô∏è Titanic - Random Forest
Os modelos Random Forest Classifier s√£o utilizados para capturar rela√ß√µes n√£o lineares e intera√ß√µes complexas entre as vari√°veis. Por serem modelos baseados em √°rvores n√£o assumem linearidade e s√£o robustos a outliers;

### Destaques do Notebook  

* **Pr√©-processamento inicial:**.

* **Transforma√ß√£o das vari√°veis:** a

* **Treinamento do modelo:** constru√ß√£o de um pipeline com o RandomForest,sem ajustes hiperpar√¢metros e com ajuste.

## 1. Bibliotecas

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import joblib
from pathlib import Path

# sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, KFold, cross_validate, cross_val_score, RandomizedSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.base import BaseEstimator, TransformerMixin, clone

# Importa√ß√µes locais
from setup_notebook import setup_path
setup_path()
from src.model_utils import *
from src.preprocess_utils_tic import preprocessador_titanic

## 2. Dataload & Preprocessamento

In [2]:
BASE = Path.cwd().parent   
# =====================================================
# ‚öôÔ∏è 0. carregamento dos preprocessador 
# =====================================================
PP = preprocessador_titanic()

# # =====================================================
# # üìÅ 1. Leitura dos dados & Separa√ß√£o das bases
# # =====================================================

DATA_DIR = BASE / "data" / "raw"
X_train = pd.read_csv(DATA_DIR / "X_train_raw.csv").reset_index(drop=True)
X_test  = pd.read_csv(DATA_DIR / "X_test_raw.csv")
y_train = pd.read_csv(DATA_DIR / "y_train_raw.csv").values.ravel()
y_test  = pd.read_csv(DATA_DIR / "y_test_raw.csv")


# =====================================================
#  ü§ñ 3.Defini√ß√£o dos Modelos
# =====================================================
model_RF = RandomForestClassifier(random_state=42, n_jobs=-1)
pipe_RF       = pipe_models(model_RF,PP)

## 3.Treinamento

In [3]:
cv_scores = cross_val_score(pipe_RF , X_train, y_train, cv=10)
print(f"Average CV Accuracy: {np.mean(cv_scores)*100:.2f}%") 

# 2. Testa a performance 
pipe_RF.fit(X_train, y_train)
y_pred=pipe_RF.predict(X_test)
print(f"{'='*70}")
print(f"üéØ Random Forest Padr√£o")
print(f"{'='*70}")
print(f"üìä **Acur√°cia no Teste**: {accuracy_score(y_test, y_pred):.4f}")
print(f"\nüìã **Relat√≥rio de Classifica√ß√£o**:")
print(classification_report(y_test, y_pred))
cm=confusion_matrix(y_test, y_pred)
print(f"üéØ **Matriz de Confus√£o**:")
print(f"               Previsto 0   Previsto 1")
print(f"Real 0         {cm[0,0]:<11} {cm[0,1]:<11}")
print(f"Real 1         {cm[1,0]:<11} {cm[1,1]:<11}")
print(f"{'‚îÄ'*70}")

Average CV Accuracy: 82.67%
======================================================================
üéØ Random Forest Padr√£o
======================================================================
üìä **Acur√°cia no Teste**: 0.8060

üìã **Relat√≥rio de Classifica√ß√£o**:
              precision    recall  f1-score   support

           0       0.83      0.85      0.84       157
           1       0.78      0.75      0.76       111

    accuracy                           0.81       268
   macro avg       0.80      0.80      0.80       268
weighted avg       0.81      0.81      0.81       268

üéØ **Matriz de Confus√£o**:
               Previsto 0   Previsto 1
Real 0         133         24
Real 1         28          83
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

In [4]:
PP.fit_transform(X_train)

,Pclass,SibSp,Parch,Fare,HasCabin,FamilySize,Age2,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_U,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare
0,1,0,2,81.8583,1,3,4.0,False,True,False,False,True,True,False,False,False,False,False,False,False,True,False,False,False,False
1,3,0,0,7.8958,0,1,26.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False
2,3,1,1,11.1333,0,3,1.0,True,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False,False,False
3,2,1,2,27.7500,0,4,36.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False
4,2,1,1,26.2500,0,3,43.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,3,0,0,7.6500,0,1,21.0,True,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False,False,False
619,1,0,0,31.0000,0,1,42.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False
620,3,2,0,14.1083,0,3,41.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False
621,1,1,2,120.0000,1,4,14.0,True,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False
622,1,0,1,77.2875,1,2,21.0,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False